@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100% ;
    /* perspective: 800%; */
}
#cursor{
    height: 25px;
    width: 25px;
    background-color: #B3E824;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #739024;
    border-radius: 50%;
    position: fixed;    
    z-index: 9;
    filter: blur(100px); 
}
#nav{
    height: 140px;
    width: 100%;
    /* background-color: red; */
    position: fixed ;
    display: flex;
    align-items: center; 
    padding-left: 125px;
    gap: 50px ;
    justify-content: flex-start;
    z-index: 99;
}

#nav img {
    height: 75px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 800;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    z-index: 10;
}

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    width: 80%;
    margin-top: 25px;
    line-height: 1;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    left: -10px;
    top: -5px;
    z-index: -1;
    -webkit-text-stroke: 2px #B3E824;
    
}

#page1 h2{
    font-size: 30px;
    font-weight: 850;
    margin-top: 20px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 400;
    width: 47%;
}


#page2{
    min-height: 100vh;
    /* border: 5px solid #3c0080; */
    width: 100%;
    z-index: 10;
}

#scroller{
    
    white-space: nowrap;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroller h4 {
    display: inline-block;
    white-space: nowrap;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #B3E824;
}

#scroller h4:hover{
    color: #B3E824;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px;
    position: relative;
    z-index: 10;
}

#about-us img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 20px;
}

#about-us-in{
   text-align: center;
   width: 50%;

}

#about-us-in h3{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
}

#about-us-in p{
    line-height: 26px;
    font-size: 18px;
}

#cards-container{
    height: 60vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
    position: relative;
    z-index: 10;
    

}

.card{
    height: 88%;
    width: 27%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    transition: all ease 0.5s;

    
}

#card1{
    background-image: url(./assets/card1.avif) ;
}
#card2{
    background-image: url(./assets/card2.webp) ;
}

#card3{
    background-image: url(./assets/card3.avif) ;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #B3E824;
    padding: 25px;
    padding-top: 50px;
    border-radius: 10px;
    opacity: 0;
    transition: all ease 0.5s;
    

}

.overlay h4{
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 25px;
}

.overlay p{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin: 15px;

}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(1,1,0,-14deg);
    
}

#green-div{
    height: 30vh;
    margin-top: 40px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom,darkgreen, #B3E824);
}
#green-div p{
    width: 45%;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: #000;
}
 
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14% ;
}

#page3{
    min-height: 100vh;
    /* border: 5px solid #3c0080; */
    width: 100%;
    z-index: 10;
}

#coffee-div{
    height: 60vh;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-evenly;
    /* gap: 50px; */
    padding: 20px;
    margin-top: 60px;
}

#coffee-div img{
    height: 400px;
    width: 600px;
    object-fit: cover;
    border-radius: 20px;
}
.in-coffee-div{
    width: 500px;
    height:80% ;
}

.in-coffee-div h4{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.in-coffee-div p{
    font-size: 18px;
    margin: 20px 0;
    /* width: 80%; */
}

.in-coffee-div button{
    /* size: 50px; */
    background-color: #000;
    border-radius: 40px;
    padding: 10px 25px;
    margin-top: 20px;
    border: 2px solid #B3E824;
}

#colon-div{
    height: 100vh;
    width: 100%;
    margin-top: 200px;
    border: 5px solid #B3E824;
}